/* Utility classes */

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Styles */

.page {
  padding: 0 0 30px;
  background: linear-gradient(
    124deg,
    var(--gradient-1-from) 0%,
    var(--gradient-1-to) 99%
  );
}

.header {
  padding: 29px;
}

.header__link {
  display: block;
  inline-size: fit-content;
  block-size: fit-content;
}

.header__link:focus {
  outline: none;
}

.header__link:focus-visible {
  outline: 2px solid var(--warning-clr);
}

.header__logo {
  inline-size: 100px;
  block-size: auto;
}

.call-to-action {
  text-align: center;
}

.call-to-action__heading {
  padding: 60px 0 0;
  font-size: 2.5rem;
  line-height: 1.03;
  letter-spacing: 11px;
  text-transform: uppercase;
}

.heading-accent {
  color: var(--accent-text-clr);
  font-weight: 300;
}

.call-to-action__text {
  padding: 16px 30px 0;
  color: var(--accent-text-clr);
  font-size: 0.9rem;
  line-height: 1.54;
  letter-spacing: -0.15px;
}

.email-form {
  position: relative;
}

.email-form__fieldset {
  margin: 0 20px;
  border: none;
}

.email-form__input {
  margin: 26px 0 0;
  border: 1px solid var(--accent-text-clr);
  border-radius: 25px;
  padding: 14px 0 16px 22px;
  font-size: 0.89rem;
  inline-size: 100%;
}

.email-form__input:focus {
  outline: none;
}

.email-form__input:focus-visible {
  outline: 2px solid var(--warning-clr);
}

.email-form__input::placeholder {
  color: var(--placeholder-clr);
}

.email-form__button {
  position: absolute;
  z-index: 1;
  border: none;
  border-radius: 30px;
  box-shadow: 0 20px 30px -10px var(--button-box-shadow);
  background: linear-gradient(
    130deg,
    var(--gradient-2-from) 0%,
    var(--gradient-2-to) 96%
  );
  transition-duration: 0.2s;
  transition-property: box-shadow;
  cursor: pointer;
  inline-size: 65px;
  block-size: 50px;
  inset-block-start: 31px;
  inset-inline-end: 32px;
}

.email-form__button::after {
  content: '';
  position: absolute;
  background-image: url(./images/icon-arrow.svg);
  background-repeat: no-repeat;
  inline-size: 20px;
  block-size: 20px;
  inset-block-start: 30%;
  inset-inline-end: 26%;
}

.email-form__button:hover {
  box-shadow: 0 20px 30px -5px var(--button-box-shadow-hover);
  background: transparent;
  background-color: var(--gradient-2-from);
}

.email-form__button:focus {
  outline: none;
}

.email-form__button:focus-visible {
  outline: 2px solid var(--warning-clr);
}

@media (min-width: 1024px) {

  .page {
    padding: 0;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: left;
    position: relative;
    background-size: 75% 100%;
  }

  .header {
    padding: 8vh 0 0 11.4vw;
  }

  .header__logo {
    inline-size: 160px;
  }

  .hero__img {
    position: absolute;
    block-size: min(100vh, 1024px);
    inset-block-start: 0;
    inset-inline-end: 0;
    inline-size: auto;
  }

  .call-to-action {
    padding: 9vh 0 0 11.4vw;
    text-align: start;
    inline-size: 50%;
  }

  .call-to-action__heading {
    font-size: 4rem;
    line-height: 1.07;
    letter-spacing: 17px;
  }

  .call-to-action__text {
    padding: 21px 8.5vw 0 2px;
    font-size: 1.03rem;
    line-height: 1.7;
  }

  .email-form__fieldset {
    margin: 39px 7.7vw 0 0;
    padding: 0;
  }

  .email-form__input {
    margin: 0;
    padding: 19px 0 19px 30px;
    font-size: 1.03rem;
  }

  .email-form__button {
    inline-size: 100px;
    block-size: 62px;
    inset-block-start: -0.2vh;
    inset-inline-end: 7.6vw;
  }

  .email-form__button::after {
    inset-block-start: 30%;
    inset-inline-end: 35%;
  }
}
